themes#edit
<%= form_for(@theme, url: {controller: "themes", action: "update"}) do |f| %>

<div class="theme_edit">
    <h2>お題編集</h2>
        <div class="field">
            <label class="image">テーマ画像</label>
            <%= f.attachment_field :image %>
        </div>
        <div class="field">
            <label class="name">リキュール名</label>
            <%= f.text_field :name %>
        </div>
        <div class="field">
            <lebel class="introduction">説明文</label>
            <%= f.text_field :introduction %>
        </div>
        <div class="status">
            <label class="status">公開</label>
            <%= f.select :is_active, [["する","true"],["しない","false"]], :prompt=>"選択してください" %>
        </div>
        <div class="submit">
            <%= f.submit "編集する" %>
        </div>
    <% end %>
</div>

