<h1>新規カクテル投稿</h1>

<div class="create-theme-post">
    <%= form_for [@theme, @post] do |f| %>
        <div class="field">
            <label class="image">カクテル画像</label>
            <%= f.attachment_field :image %>
        </div>
        <%= f.label :カクテル名 %><br>
        <%= f.text_field :name %>
        <br>
        <%= f.label :カクテル説明 %><br>
        <%= f.text_field :introduction %>
        <br>
            <div class="materials-form">
                <%= f.fields_for :materials do |i| %>
                    <%= f.label :材料 %> <%= i.text_field :name %>
                    <br>
                    <%= f.label :分量 %> <%= i.text_field :quantity %>
                <% end %>
            </div>
        <br>
        <div class="submit">
            <%= f.submit "登録する" %>
        </div>
    <% end %>
</div>