<br>
<div class="text-center">
    <div class="post-show">
        <%= attachment_image_tag @post, :image, :fill, 230, 200, size:"300x270", fallback: "no_image.jpg" %><br>
        <%= @post.name %><br>
        <%= @post.introduction %><br>
        <div class="m-each">
            <% @post.materials.each do |m| %>
                <%= m.name %>
                <%= m.quantity %>ml
            <% end %>
        </div>
    </div>
</div>
<!-- 追加 -->
<% if user_signed_in? %>
    <% if @post.favorited_by?(current_user) %> <!-- ログインしているユーザーがファボしたかどうかで分岐 -->
        <p><span>お気に入り解除: </span><%= link_to @post.favorites.count, theme_post_favorites_path(@post.theme.id, @post.id), method: :delete %></p>
        <% else %>
        <p><span>お気に入り登録: </span><%= link_to @post.favorites.count, theme_post_favorites_path(@post.theme.id, @post.id), method: :post %></p>
    <% end %>
<% else %>
    <p><span>お気に入り数: </span><%= @post.favorites.count %></p>
<% end %>
<!-- ここまで -->